.header {
    margin-bottom: 54px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;

    &__container {
        display: flex;
        align-items: center;
        padding: 64px 20px 15px;
    }

    &__hamburger {
        width: 20px;
        height: 20px;
        margin: 0 0 0 5px;
        padding: 0;
        background-image: url("../images/humberger.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #fff;
        border: none;
        display: none;
    }

}

@media only screen and (max-width:1109px) {
    .site-header {
        position: relative;
        z-index: none;
        background-color: #FEFCF7;
    }

}

@media only screen and (max-width:450px) {
    .header--open .sitenav {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        background-color: #696969;
    }

    .header--open .sitenav__list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .header--open .sitenav__item + .sitenav__item {
        margin-left: 0;
        margin-top: 10px;
    }

    .header--open .sitenav__link {
        color: #fff;
    }

    .header__hamburger {
        display: inline-block;
    }

    .header--open .header__hamburger {
        background-image: url("../images/times-solid.svg");
        background-color: #fff;
    }
}