.hero {
    margin-bottom: 96px;

    &__left {
        background-image: url("../images/hero-img.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 22% 0 0 0;
    }

    &__bottom {
        width: 100%;
        max-width: 450px;
        padding: 55px 55px 0 0;
        background-color: #fff;
    }

    &__heading {
        margin: 0;
        margin-bottom: 13.4%;
        padding: 0;
        font-family: Ibarra Real Nova;
        font-weight: bold;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.446429px;
        color: #33323d;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        background: #203a4c;
    }

    &__button:hover {
        opacity: 0.7;
    }

    &__button:active {
        opacity: 0.5;
    }

    &__button-img {
        width: 48px;
        height: 48px;
    }

    &__button-desc {
        margin: 0;
        padding: 0;
        width: 152px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ffffff;
    }
}

@media only screen and (max-width: 728px) {
    .hero {

        &__left {
            background-image: url("../images/hero-img2.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 47% 0 0 0;
        }

        &__heading {
            margin: 0;
            margin-bottom: 10%;
            padding: 0;
            font-family: Ibarra Real Nova;
            font-weight: bold;
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357143px;
            color: #33323d;
        }
    }
}

@media only screen and (max-width:480px) {
    .hero {
        margin-bottom: 250px;
        &__left {
            background-image: url("../images/hero-img2.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 60% 0 0 0;
        }

        &__bottom {
            position: relative;
            top: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 450px;
            padding: 20px 0 0 0;
            background-color: #fff;
        }

        &__heading {
            margin: 0;
            margin-bottom: 20px;
            width: 100%;
            max-width: 340px;
            padding: 0;
            font-family: Ibarra Real Nova;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.357143px;
            text-align: center;
            color: #33323d;
        }
    }
}

@media only screen and (max-width:350px) {
    .hero {
        margin-bottom: 280px;

        &__left {
            background-image: url("../images/hero-img3.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 30% 0 0 0;
        }

        &__bottom {
            position: relative;
            top: 200px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            max-width: 450px;
            padding: 20px 0 0 0;
            background-color: #fff;
        }

        &__heading {
            margin: 0;
            margin-bottom: 20px;
            width: 100%;
            max-width: 310px;
            padding: 0;
            font-family: Ibarra Real Nova;
            font-weight: bold;
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357143px;
            text-align: left;
            color: #33323d;
        }
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .hero {
      &__left {
          background-image: url("../images/hero-img@2x.png");
      }
  }
}