.logo {
    flex-shrink: 0;
    margin-right: auto;
    text-decoration: none;
    transition: opacity 0.5s ease-in-out;

    &__img {
        display: inline-block;
        width: 60px;
        height: 32px;
    }
}

.logo:hover {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}